*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

.about{
    justify-content: center;
    display: block;
    align-items: center;
}

header{
    font-size: 1.5rem;
}

header {
    min-height: 20vh;
    display: flex   ;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}

header .in-out{
    padding-left: 80rem;
    padding-top: 2rem;
}

header .in-out .login-signup li{
    float: right;
    margin-right: 1.5rem;
    list-style: none;
}

header .in-out .login-signup .signup{
    padding: 2px;
    text-decoration: none;
    background-size: 5rem;
    background-color: rgb(255, 200, 0);
    color: white;
    border-radius: 1rem;
    font-size: 1.6rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

header .in-out .login-signup .login{
    text-decoration: none;
    color: white;
    font-size: 1.6rem;

}

header, 
form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button{
    padding: 0.5rem;
    padding-left: 1rem;
    font-size: 1.8rem;
    border: none;
    background: white;
    border-radius: 2rem;
}

form button{
    color:  rgb(255, 200, 0);
    background: white;
    cursor: pointer;
    transition: all 0.3 ease;
    margin-left: 0.5rem;
}

form button:hover{
    color: white;
    background:rgb(255, 200, 0);
}

.fa-plus-circle{
    margin-top: 0.3rem;
    margin-left: -7.5px;
}

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list{
    min-width: 30%;
    list-style: none;
}

.todo{
    margin: 0.5rem;
    padding-left: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    border-radius: 2rem;
}

.todo li{
    flex: 1;
}

.trash-btn,
.completed-btn{
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
}

.completed-btn{
    background:rgb(255, 200, 0);
}

.trash-btn{
    border-top-right-radius: 1.75rem;
    border-bottom-right-radius: 1.75rem;
    background: rgb(171, 171, 171);
}

.todo-item{
    padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check-circle{
    pointer-events: none;
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}

.slide{
    transform: translateX(20rem);
    opacity: 0;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
    border-radius: 50px;
}

select{
    color: rgb(117,117,117);
    width: 10rem;
    height: 3.2rem;
    cursor: pointer;
    padding: 1rem;
}

.select::after{
    content: "\25BC";
    position: absolute;
    background:rgb(255, 200, 0);
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select::hover::after {
    background: white;
    color: rgb(255, 200, 0);
}